{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Заявки
{% endblock %}
{% block content %}
<div class="container">
<h2>Заявки на кредит</h2>
<a href="{% url 'loan-application-create' %}">Добавить новую заявку</a>
<ul>
  {% for application in loan_applications %}
    <li>
      <a href="{% url 'loan-application-detail' application.pk %}">
        Заявка №{{ application.id }} ({{ application.status }})
      </a>
      <a href="{% url 'loan-application-update' application.pk %}">Редактировать</a>
      <a href="{% url 'loan-application-delete' application.pk %}">Удалить</a>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}