{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Заявки
{% endblock %}
{% block content %}
<div class="container">
<h2>Заявки на кредит</h2>
{% if user.is_authenticated %}
  {% if user.is_staff %}
    <a href="{% url 'loan-application-create' %}">Добавить новую заявку</a>
  {% endif %}
{% endif %}

<ul>
  {% for application in loan_applications %}
    <li>
      <a href="{% url 'loan-application-detail' application.pk %}">
        Заявка №{{ application.id }} ({{ application.status }})
      </a>
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <a href="{% url 'loan-application-update' loan-application.pk %}">Редактировать</a>
          <a href="{% url 'loan-application-delete' loan-application.pk %}">Удалить</a>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}