{% load static %}

<header class="site-header">
    <div class="container">
        <div class="header-inner">
            <a href="/base" class="logo">LoL магазин</a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{% url 'base' %}">Главная</a></li>
                    <li class="nav__item"><a href="{% url 'categories' %}">Категории</a></li>
                    <li class="nav__item dropdown" se>
                        <a href="#">О компании</a>
                        <ul class="dropdown__menu">
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            <li><a href="{% url 'how_to_find' %}">Как нас найти</a></li>
                        </ul>
                    </li>
                    <li class="nav__item dropdown">
                        <a href="{% url 'card-list' %}">Товары</a>
                    </li>
                    <li class="nav__item"><a href="{% url 'basket' %}">Корзина</a></li>

                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li class="nav__item dropdown" se>
                                <a href="#">CRUD</a>
                                <ul class="dropdown__menu">
                                    <li><a href="{% url 'card-list' %}">Карты</a></li>
                                    <li><a href="{% url 'client-list' %}">Клиенты</a></li>
                                    <li><a href="{% url 'credit-list' %}">Кредиты</a></li>
                                    <li><a href="{% url 'loan-application-list' %}">Заявки</a></li>
                                    <li><a href="{% url 'transaction-list' %}">Транзакции</a></li>
                                    <li><a href="{% url 'branch-list' %}">Филиалы</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li><a href="{% url 'logout_page' %}">Выход</a></li>
                    {% else %}
                        <li><a href="{% url 'login_page' %}">Авторизация</a></li>
                        <li><a href="{% url 'registration_page' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
