{% load static %}

<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>
            {% block title_name %}
            {% endblock %}

            
        </title>
        {% block link_style %}
                <link rel="stylesheet" href="{% static 'css/style.css'%}">
            {% endblock %}
        
    </head>    
    <body>
        {% block body %}
            {% block header %}
                {% include '_inc/_header.html' %}
            {% endblock %}
        <main>
            {% block content %}
            
            {% endblock %}
        </main>    

            {% block footer %}
                {% include '_inc/_footer.html' %}
            {% endblock %}
        {% endblock %}
    </body>
</html>    