{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Кредиты
{% endblock %}
{% block content %}
<div class="container">
<h2>Кредиты</h2>
{% if user.is_authenticated %}
  {% if user.is_staff %}
    <a href="{% url 'credit-create' %}">Добавить кредит</a>
  {% endif %}
{% endif %}

<ul>
  {% for credit in credits %}
    <li>
      <a href="{% url 'credit-detail' credit.pk %}">
        {{ credit.amount }} ₽ ({{ credit.client.name }})
      </a>
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <a href="{% url 'credit-update' credit.pk %}">Редактировать</a>
          <a href="{% url 'credit-delete' credit.pk %}">Удалить</a>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}