{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Кредиты
{% endblock %}
{% block content %}
<div class="container">
<h2>Кредиты</h2>
<a href="{% url 'credit-create' %}">Добавить кредит</a>
<ul>
  {% for credit in credits %}
    <li>
      <a href="{% url 'credit-detail' credit.pk %}">
        {{ credit.amount }} ₽ ({{ credit.client.name }})
      </a>
      <a href="{% url 'credit-update' credit.pk %}">Редактировать</a>
      <a href="{% url 'credit-delete' credit.pk %}">Удалить</a>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}