{% extends "base.html" %}
{% block content %}
<h2>Транзакции</h2>
<a href="{% url 'transaction-create' %}">Добавить новую транзакцию</a>
<ul>
  {% for transaction in transactions %}
    <li>
      <a href="{% url 'transaction-detail' transaction.pk %}">
        Транзакция {{ transaction.id }} ({{ transaction.amount }} ₽)
      </a>
      <a href="{% url 'transaction-update' transaction.pk %}">Редактировать</a>
      <a href="{% url 'transaction-delete' transaction.pk %}">Удалить</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}