{% extends "base.html" %}
{% load static %}

{% block title_name %}
  Список клиентов
{% endblock %}

{% block content %}
<div class="container">
<h2>Клиенты</h2>
{% if user.is_authenticated %}
  {% if user.is_staff %}
    <a href="{% url 'client-create' %}">Добавить клиента</a>
  {% endif %}
{% endif %}
<ul>
  {% for client in object_list %}
    <li>
      <a href="{% url 'client-detail' client.pk %}">
        {{ client.name }} {{ client.surname }}
      </a>
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <a href="{% url 'client-update' client.pk %}">Редактировать</a>
          <a href="{% url 'client-delete' client.pk %}">Удалить</a>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}